# Copyright 2024 TerseTS Contributors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Zig Build, Lint, and Test

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]


jobs:
  zig_build_and_test:
    name: Zig Build and Test

    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4
    - uses: mlugg/setup-zig@v2
      with:
        version: 0.15.1  # Use a stable Zig version.
    - name: Clear Zig Cache
      run: Remove-Item -Recurse -Force "$env:LOCALAPPDATA\zig" -ErrorAction SilentlyContinue
      shell: pwsh
    - name: Zig Build Debug
      run: zig build -Doptimize=Debug
    - name: Zig Build ReleaseFast
      run: zig build -Doptimize=ReleaseFast
    - name: Zig Build Test Debug
      run: zig build test -Doptimize=Debug
    - name: Zig Build Test ReleaseFast
      run: zig build test -Doptimize=ReleaseFast

    - name: Clang Compile Header
      run: clang -Weverything tersets.h
      working-directory: bindings/c
    - name: GCC Compile Header
      run: gcc -Wall -Wextra tersets.h
      working-directory: bindings/c

    - name: Python Run Unittest
      run: python3 -m unittest --verbose
      working-directory: bindings/python

    - name: Set up Julia
      uses: julia-actions/setup-julia@v1
      with:
        version: '1.12.4'  # Use a stable Julia version.

    - name: Julia Run Unittest
      run: julia Tests.jl
      working-directory: bindings/julia

  zig_lint:
    name: Zig Lint

    # Microsoft Windows disagrees with the Unix-like systems about formatting.
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.14.0  # Use a stable Zig version
      - name: Zig Fmt Check
        run: zig fmt --check .
